.header
  min-height: 3.75rem
  padding: 0.875rem 0
  display: flex
  justify-content: center
  align-items: center
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)
  background: var(--theme-header-color)
  flex-shrink: 0
  &_greet
    color: var(--title-color)
    font-size: 1.125rem
    font-weight: 500
    &Auth
      display: flex
      align-items: center
      img
        margin-right: 0.625rem
      span
        font-size: 1.125rem
        font-weight: 500
        cursor: default
    label
      cursor: pointer
      display: flex
    input
      cursor: text
      background: var(--theme-header-color)
      color: var(--title-color)
      &~button
        // display: none
      &:focus-visible
        border: none
        border-color: #fff
        outline: none
        border-bottom: 1px solid var(--title-color)
        &~button
          display: flex
      &::placeholder
        color: var(--title-color)
    i
      margin-right: .5rem
      color: var(--title-color)
  &_logo
    font-weight: 700
    color: var(--title-color)
    font-size: 1.5rem
    line-height: 1.9rem
    text-transform: uppercase
  &_wrapper
    display: flex
    align-items: center
  &Auth
    justify-content: space-between
    padding: 0 3.125rem

.formName
  position: relative

.logout
  font-size: 1.125rem
  line-height: 1.438rem
  color: var(--text-color)
  text-decoration: none
  font-weight: 500

.inputGreet
  border: none
  &_btn
    border: none
    background: inherit
    position: absolute
    right: -13px
    cursor: pointer
    z-index: 99
