.input
  width: 100%
  background: var(--theme-input-bg)
  border: 1px solid var(--theme-input-border-color)
  border-radius: 5px
  padding: 15px 21px 12px
  min-height: 50px
  &.error
    border-color: red
  &Wrapper
    position: relative
    i
      position: absolute
      cursor: pointer
      right: 15px
      top: 18px
    &__authForm
      padding-bottom: 1.25rem

.error-mess
  color: red
  position: absolute
  bottom: 5px
  left: 0
  font-size: 12px
