\:root

  --default-font: "Jost", sans-serif

.light
  --theme-header-color: #ffffff
  --theme-bg-color: #F7F9FC
  --title-color: #2B3049
  --secondary-title-color: #4475C8
  --text-color: #8A8D9B
  --secondary-text-color: #fff
  --theme-input-bg: #fff
  --theme-input-border-color: #e5e5e5
  --btn-color: #4475C8
  --theme-switcher-color: #EEEEEE

.dark
  --theme-header-color: #2B3049
  --theme-bg-color: #0B1128
  --title-color: #fff
  --secondary-title-color: #4475C8
  --text-color: #8A8D9B
  --secondary-text-color: #fff
  --theme-input-bg: #fff
  --theme-input-border-color: #e5e5e5
  --btn-color: #4475C8
  --theme-switcher-color: #FFFFFF
