.form
    &FieldWrapper
        position: relative
        textarea
            resize: none
        &:not(:last-child)
            margin-bottom: 10px
        &:last-child
            margin-bottom: 20px
    &Input
        background: var(--theme-input-bg)
        border: 1px solid var(--theme-input-border-color)
        border-radius: 5px
        padding: 12.5px 30px
        font-size: 1.125rem
        line-height: 1.438rem
        width: 100%
    &Calendar
        background: var(--theme-input-bg)
        margin-bottom: 10px
        >div
            border: 1px solid var(--theme-input-border-color)
            padding: 10px 30px

.successCreate
    color: var(--success-color)
    font-size: 1rem
    line-height: 1.25rem
    margin-left: 1.875rem
    position: absolute
    left: 0
